<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About this APP</title>
</head>
<body>
    <h1>Random Password Generator</h1>
    <p>This was created by Aaron Diable while learning to code with Django and Python</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga possimus minus deserunt nam consequatur, fugiat quibusdam inventore enim debitis vitae ad odio.</p>
</body>
</html>